* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 300px;
    margin: auto;
    margin-top: 10%;
}

.snake-cell {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    cursor: none
}

.apple {
    background-color: green
}

.apple-done {
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    cursor: none
}

.snake-red {
    height: 50px;
    width: 50px;
    background-color: red;
    cursor: none
}
